<ul>
  <li>Użyj 800-1000 g łopatki wieprzowej (może być szynka lub mix szynki z karkówką 1:1). Pokrój na kawałki 2x2 cm.</li>
  <li>Dodaj 2 łyżki słodkiej papryki, 0,5 łyżeczki soli, 0,5 łyżeczki pieprzu, szczyptę chili. Obierz 4 ząbki czosnku (lub 1 łyżka suszonego), przepuść przez praskę, wymieszaj z mięsem.</li>
  <li>Rozgrzej głęboką patelnię, roztop 20 g smalcu. Podsmażaj mięso 25 minut na średnio-wysokim ogniu bez przykrycia, mieszając co jakiś czas.</li>
  <li>Przygotuj 2-3 cebule (lub 1 duży por), 2 marchewki, 2 czerwone papryki (można zamienić 1 na żółtą/pomarańczową). Pokrój cebulę w piórka, marchew w półplasterki, paprykę w kawałki.</li>
  <li>Rozgrzej drugą patelnię, roztop 50 g smalcu. Podsmaż cebulę 5 minut, dodaj marchew, smaż 15 minut na niskim ogniu bez przykrycia, mieszając co chwilę. Dodaj paprykę, smaż 10 minut.</li>
  <li>Przenieś warzywa do mięsa, wlej 500 ml bulionu. Gotuj 20 minut na małym ogniu bez przykrycia.</li>
  <li>Dodaj 2-3 łyżki koncentratu (lub przecier/świeże pomidory dla rzadszej konsystencji). Opcjonalnie zagęść 1 łyżką skrobi ziemniaczanej rozpuszczonej w wodzie/bulionie, gotuj 1 minutę.</li>
  <li>Skontroluj smak, dodaj sól, pieprz lub chili wg uznania.</li>
</ul>
<h3>Podanie:</h3>
<ul>
  <li>Podawaj z pieczywem, ogórkiem kiszonym, kaszą (gryczaną, pęczak, kuskus), tłuczonymi ziemniakami, kopytkami, kluskami śląskimi lub surówką z kapusty.</li>
</ul>