<ul>
  <li>Połóż na blacie ściereczkę, na niej deskę, ubij kotlety do 7 mm.</li>
  <li>Posyp solą i pieprzem.</li>
  <li>Zanurz w jajku, obtocz w bułce tartej.</li>
  <li>Smaż na smalcu po 2 min na stronę na złoty kolor.</li>
  <li>Usuń resztki bułki po każdej serii, dodaj smalec.</li>
</ul>
<h3>Podanie:</h3>
<ul>
  <li>Kotlety podajemy z gotowanymi ziemniakami, kopytkami czy też z kluskami śląskimi.</li>
  <li>Dodatkowo świetnie się nada surówka z białej kapusty lub ogórki małosolne.</li>
</ul>