<h3>Farsz:</h3>
<ul>
  <li>Zmiel łopatkę. Podsmaż na oleju (10 min).</li>
  <li>Dodaj posiekaną cebulę i czosnek, smaż 5 min.</li>
  <li>Pieczarki pokrój, podsmaż na oleju, dodaj do mięsa.</li>
  <li>Wlej przecier i koncentrat, dopraw przyprawami, gotuj 15 min.</li>
</ul>
<h3>Sos śmietanowy:</h3>
<ul>
  <li>Wymieszaj śmietanę z mlekiem.</li>
</ul>
<h3>Sery:</h3>
<ul>
  <li>Zetrzyj mozzarellę i Gouda, wymieszaj.</li>
</ul>
<h3>Składanie:</h3>
<ul>
  <li>Rozgrzej piekarnik do 180°C.</li>
  <li>W formie: warstwa farszu, 4 płaty makaronu, farsz, sos, ser. Powtórz 2 razy. Na wierzch: makaron, sos, ser.</li>
</ul>
<h3>Pieczenie:</h3>
<ul>
  <li>Piecz 30-40 min, aż ser się zarumieni. Odstaw na 5 min.</li>
</ul>
<h3>Podanie:</h3>
<ul>
  <li>Porcje kroimy nożem i podajemy na talerzach.</li>
  <li>Opcjonalnie: posyp świeżą bazylią lub natką pietruszki, jeśli masz pod ręką.</li>
</ul>