<ul>
  <li>W moździerzu rozgnieć chili, cukier, czosnek oraz łyżkę orzechów ziemnych.</li>
  <li>Pokrój kawałki czosnku i chili tak, by były wyraźnie wyczuwalne.</li>
  <li>Dodaj jeden plaster papai i rozetrzyj. Wlej sos rybny, sok z limonki oraz wodę, a następnie dokładnie wymieszaj.</li>
  <li>Pokrój papaję, ogórka i marchewkę.</li>
  <li>Do sosu wrzuć ogórka i marchewkę, delikatnie je ugniatając. Na sam koniec dodaj papaję. Jeśli jest zielona i niedojrzała – taka powinna być w tej sałatce – lekko poubijaj boki pasków, unikając zrobienia papki.</li>
  <li>Na koniec dodaj połówki pomidorków koktajlowych i dokładnie wymieszaj, aby wszystkie składniki przeszły sosem. Wierzch sałatki oprósz grubo posiekanymi orzechami ziemnymi, posiekanym chili oraz natką pietruszki.</li>
</ul>
