<ul>
  <li>Użyj 3 kiełbasy białe parzonej (ok. 330 g), resztę odłóż do innego dania.</li>
  <li>Pokrój 350 g surowego, wędzonego boczku w kostkę, podsmaż 5-10 minut, aż tłuszcz się wytopi i boczek się zarumieni.</li>
  <li>Dodaj pokrojone w plasterki (do 1 cm) kiełbasy, smaż 5 minut.</li>
  <li>Wlej 1 l gorącego bulionu warzywnego (może być więcej), dodaj 1 łyżkę majeranku, 2 ziarna ziela angielskiego, 1 liść laurowy, 1 ząbek czosnku. Przykryj, gotuj 10 minut na małym ogniu.</li>
  <li>Dodaj 1 łyżkę tartego chrzanu i 300-500 ml zakwasu żytniego (wcześniej wymieszanego na jednolity płyn). Gotuj bez przykrycia 2 minuty, aż zgęstnieje. Sprawdź smak.</li>
  <li>Dodaj 3 łyżki śmietanki 30% lub 36% (bez hartowania) lub wymieszaj kwaśną śmietanę 18% z odrobiną żurku przed dodaniem. Opcjonalnie pominąć.</li>
</ul>
<h3>Podanie:</h3>
<ul>
  <li>Serwuj z jajkami na twardo, twarogiem, ciemnym pieczywem lub tłuczonymi ziemniakami z cebulką.</li>
</ul>