{% extends "master.html" %}

{% block title %}
  Lista przepisów
{% endblock %}


{% block content %}
{% load static %}
<div class="recipes">
    <br /><br /><br />

    <h1>Przepisy</h1>

    <ul>
      {% for x in myrecipes %}
      <a href="details/{{ x.id }}">
        <li class="recipe-list"> 
          {% if x.image %}
            <img src='/media/{{ x.image }}' alt="{{ x.dish }}">
          {% else %}
            <img src="{% static 'img/default.jpg' %}">
          {% endif %}
            <h2>{{ x.dish }}</h2>
        </li>
      </a>
      {% endfor %}
    </ul>
</div>
{% endblock %}