{% extends "master.html" %}

{% block title %}
  {{ myrecipe.dish}}
{% endblock %}


{% block content %}
  {% load static %}
  <div class="mycard">
    <h1>{{ myrecipe.dish }}</h1>
    <h4>Kuchnia: {{ myrecipe.get_cuisine_display }}</h4>

    <h4>Alergeny: 
      {% for x in myrecipe.allergens.all %}
        {{ x.number }}{% if not forloop.last %}, {% endif %}
      {% empty %}
        Brak alergenów
      {% endfor %}
      <img src="{% static 'img/small_allergens.jpg' %}" alt="Miniaturka alergenów" class="small-img" onclick="toggleImage()">
    </h4>

    <img src="{% static 'img/allergens.jpg' %}" alt="Legenda alergenów" class="large-img" id="largeImage">

    <script>
      function toggleImage() {
          var img = document.getElementById("largeImage");
          if (img.classList.contains("active")) {
              img.classList.remove("active");
          } else {
              img.classList.add("active");
          }
      }

      document.getElementById("largeImage").addEventListener("click", function() {
          this.classList.remove("active");
      });
    </script>

    <h4>Czas przygotowania: {{ myrecipe.preparation_time }} min</h4>
    <h4>Czas gotowania/pieczenia/smażenia: {{ myrecipe.cooking_time }} min</h4>
    <br />

    <h2>Składniki:</h2>
      <ul>
        {% for x in myrecipe.get_ingredients_list %}
          <li>{{ x }}</li>
        {% endfor %}
      </ul>
    <br />

    <h2>Wykonanie:</h2>
    <h3>Farsz:</h3>
      <ul>
        <li>Zmiel łopatkę. Podsmaż na oleju (10 min).</li>
        <li>Dodaj posiekaną cebulę i czosnek, smaż 5 min.</li>
        <li>Pieczarki pokrój, podsmaż na oleju, dodaj do mięsa.</li>
        <li>Wlej przecier i koncentrat, dopraw przyprawami, gotuj 15 min.</li>
      </ul>
      <h3>Sos śmietanowy:</h3>
        <ul>
          <li>Wymieszaj śmietanę z mlekiem.</li>
        </ul>
      <h3>Sery:</h3>
        <ul>
          <li>Zetrzyj mozzarellę i Gouda, wymieszaj.</li>
        </ul>
      <h3>Składanie:</h3>
        <ul>
          <li>Rozgrzej piekarnik do 180°C.</li>
          <li>W formie: warstwa farszu, 4 płaty makaronu, farsz, sos, ser. Powtórz 2 razy. Na wierzch: makaron, sos, ser.</li>
        </ul>
      <h3>Pieczenie:</h3>
        <ul>
          <li>Piecz 30-40 min, aż ser się zarumieni. Odstaw na 5 min.</li>
        </ul>
      <h3>Podanie:</h3>
        <ul>
          <li>Porcje kroimy nożem i podajemy na talerzach.</li>
          <li>Opcjonalnie: posyp świeżą bazylią lub natką pietruszki, jeśli masz pod ręką.</li>
        </ul>
      <h2>SMACZNEGO!</h2>
  </div>
  <h1 style="color: black; text-align: center;">Spróbuj innych <a href="/recipes">Przepisów</a></h1>
{% endblock %}